.container {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
}

button {
    width: 20%;
    border-radius: 2rem;
}

h1 {
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.edit {
    color: rgb(0, 150, 255);
}

.delete {
    color: red;
}

mat-form-field {
    width: 100%;
}