<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Sistema de Controle de Tarefas</mat-card-title>
    <mat-card-subtitle>PROJETO DE PRÁTICA PROFISSIONAL - FACULDADE MACKENZIE</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/login.avif" alt="Controle de Tarefas">
  <mat-card-content>
      <p>
          <strong> Sejam bem vindos ao sistema de controle de tarefas!.</strong>
          <br />
          Sistema destinado ao apoio de famílias para a organização de suas tarefas!.
          <br> Permitindo o gerenciamento dos membros da família através de contas individuais, possibilitando a organização e atualização de listas e tarefas pendentes. 
          
         
          <strong> <br /> Universidade Presbiteriana Mackenzie -  5 Semestre - Analise e desenvolvimento de Sistemas </strong>
      </p>
  </mat-card-content>
</mat-card>
