.container{
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
  }
  .container{
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
  }
button{
    width: 100%;
}
h1{
    text-align: center;
    margin-bottom: 2rem;
}