<div class="container">
    <form class="form mat-elevation-z8">
        <h1 class="titulolivro">Loja de Livros</h1>
        <img src="assets/img/nid03.webp" alt="Help Desk - Dicas de um DEV">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
            <input 
            [formControl]="email"
            required
            [(ngModel)]="creds.email" 
            name="email" 
            matInput 
            placeholder="fulano@email.com">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input
            [formControl]="senha"
            required 
            [(ngModel)]="creds.senha" 
            name="senha" 
            matInput 
            type="password" 
            placeholder="Ex. 123">
          </mat-form-field>
        <button 
        (click)="logar()"
        [disabled]="!validaCampos()"
        mat-stroked-button 
        class="full-width mat-elevation-z4" 
        color="primary">
        Login</button>
      </form>    
</div>